From: <Saved by Blink>
Snapshot-Content-Location: https://www.pythonanywhere.com/user/Tharun030308/files/home/Tharun030308/templates/form.html
Subject: Form
Date: Thu, 24 Apr 2025 21:39:12 +0530
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--9vFfryVo6GW8IxPlU1tgOEzV7j2e6LR60KaSTcrnYU----"


------MultipartBoundary--9vFfryVo6GW8IxPlU1tgOEzV7j2e6LR60KaSTcrnYU----
Content-Type: text/html
Content-ID: <frame-6673D1F9EF761D930CD829FFF67D260E@mhtml.blink>
Content-Transfer-Encoding: binary
Content-Location: https://www.pythonanywhere.com/user/Tharun030308/files/home/Tharun030308/templates/form.html

<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Form</title>
</head>
<body>
    <h2>send anonymous message</h2>
    <form method="POST">
        <input type="text" name="question" id="question" required="">
        <button type="submit">Submit</button>
    </form>

</body></html>
------MultipartBoundary--9vFfryVo6GW8IxPlU1tgOEzV7j2e6LR60KaSTcrnYU------
